h4 {
  color: #33aaff;
  text-align: center;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  }
  h1 {
    color: #33aaff;
  }
  footer {
    color: white;
    position: relative;
    width:100%;
    bottom: 0;
    padding: 15px;
    border-top: solid;
    border-color: #d5d5d5;
    border-width: 1px;
    }
#myPage {
  background-color: black;
  }
  #review {
    padding-right:6px;
  }
  #login {
    padding-left: 6px;
    border-left:solid 1px #ccc;
    border-color: white;
  }
#navbar {
  margin-bottom: 0;
  border-bottom:solid 1px #ccc;
  border-color: white;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  #logo {
    padding-right: 2px;
  }
footer a {
  color: #f5f5f5;
  }
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

.btn.btn-signin {
  color: #d5d5d5;
  background-color: #00aaff;
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 45px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  }

  select#crank option[value="600.000"] { background-image:url(diamond.png); }


