
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color:rgba(0, 0, 0, 0.7);
    }
  .container{
    color: white;
    min-height: 100%;
    padding-bottom:60px;
  }
  th {
      color:white;
  }
  td {
    color:white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
}

h1{
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  color: #222;
}

.profile-pic-div{
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
}

#photo{
  height: 100%;
  width: 100%;
}

#file{
  display: none;
}

#uploadBtn{
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: none;
}
  footer {
    color: white;
    position: relative;
    width:100%;
    bottom: 0;
    padding: 15px;
    background-color:rgba(0, 0, 0, 0.7);
    border-top: solid;
    border-color: #d5d5d5;
    border-width: 1px;
    }    
  #homelogo {
    width: 180px;
  }
  i {
    color: #33aaff;
  }
  h1 {
    color: #d5d5d5;
  }
  p {
    color: #d5d5d5;     
  }
  label{
    color: black;
  }
  h4 {
    color: black;
  }
  #card {
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 5%;
    background-color:rgb(22, 22, 22);   
    border-radius: 25px;
}


.title {
  color: grey;
  font-size: 18px;
}
  #myPage {
    background-image: url("gwen.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  footer a {
    color: #f5f5f5;
  }
  #login {
    padding-left: 6px;
    border-left:solid 1px #ccc;
    border-color: white;
  }
  #logo {
    padding-right: 2px;
  }
  hr {
    background-color:#d5d5d5;
    width:100%;
  
  }


/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;

}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
